In [2]:
# Learning Panda

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list(['North','South','East','West']))
df

               North     South      East      West
2013-01-01 -0.169062 -1.295104  0.032638 -0.653028
2013-01-02 -0.137696  1.334725  1.888973  1.056592
2013-01-03  0.446338  1.381399 -0.007299  1.274877
2013-01-04 -0.801921  2.066339  0.993708  1.178117
2013-01-05  0.438597  0.067259 -1.021277 -0.780595
2013-01-06 -1.556733 -0.886283 -0.538200  1.302083

In [11]:
df2 = pd.DataFrame(
    { 'A' : 1.,
    'B' : pd.Timestamp('20130102'),
    'C' : pd.Series([1,2,3]),
    'D' : np.array([3] * 4,dtype='int32'),
    'E' : pd.Categorical(["test","train","test","train"]),
    'F' : 'foo' },
index=dates[:4])

df2

              A          B   C  D      E    F
2013-01-01  1.0 2013-01-02 NaN  3   test  foo
2013-01-02  1.0 2013-01-02 NaN  3  train  foo
2013-01-03  1.0 2013-01-02 NaN  3   test  foo
2013-01-04  1.0 2013-01-02 NaN  3  train  foo

In [12]:
df2.describe()

         A    C    D
count  4.0  0.0  4.0
mean   1.0  NaN  3.0
std    0.0  NaN  0.0
min    1.0  NaN  3.0
25%    1.0  NaN  3.0
50%    1.0  NaN  3.0
75%    1.0  NaN  3.0
max    1.0  NaN  3.0